* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}

.navbar {
  background: #ffff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  place-content: space-between;
  position: relative;
}

.portfolio {
  background-image: url("./img/mobile\ background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0 0 0 100px;
  padding-top: 114px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100vh;
}

.portfolio .intro {
  position: static;
  width: 600px;
  left: 24px;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  align-items: center;
}

.portfolio .more-intro {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.portfolio .socials {
  display: flex;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: #6070ff;
}

.socialslinks {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  width: 180px;
  padding: 0;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
}

.p-title {
  display: flex;
  flex-direction: column;
  margin: 12px 5px;
}

.text_paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 270px;
}

.btn-container-flex {
  display: flex;
  margin-top: 5px;
}

.paragraph {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;  
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.media_icons {
  margin: 26px 35px 26px 21px;
  margin-top: 10px;
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
}

.connect {
  padding-left: 20px;
  color: var(--span-color);
  margin-top: 20px;
}

.media-icons:hover,
.menu:hover,
.logo:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  max-width: 375px;
  margin: 0 auto;
  background-color: #f7f7f9;
  justify-items: center;
  padding-bottom: 114px;
}

.image-fluid {
  max-width: 295px;
  object-fit: cover;
}

.card-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 88px;
  background-color: #fff;
}

.title {
  color: var(--h3-color);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 44px;
}

.text {
  margin-top: 10px;
}

.multi-post {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.flex-items {
  display: flex;
  margin-top: 10px;
}

.canopy {
  list-style: none;
  color: #344563 !important;
}

.list-item {
  margin-right: 25px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.btn-container-flex {
  display: flex;
  margin-top: 5px;
}

.btn {
  list-style: none;
}

.btn-sm {
  background-color: #ebebff;
  width: 53px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #b7bcff;
  padding: 4px 12px 4px 12px;
  transition: 0.2s;
}

.btn-md {
  background-color: #ebebff;
  width: 45px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #b7bcff;
  padding: 4px 12px;
  transition: 0.2s;
}

.btn-lg {
  background-color: #ebebff;
  width: 70px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #b7bcff;
  transition: 0.2s;
}

.btn-xxl {
  width: 124px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.2s;
}

.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-xxl:hover {
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 0 16px rgba(64, 83, 252, 0.24);
  transform: translateY(4px);
  color: #fff;
}

.btn-sm:active,
.btn-md:active,
.btn-lg:active,
.btn-xxl:active {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

.about {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("img/Base.png");
  background-repeat: no-repeat;
  border-top-right-radius: 0% 25px;
  background-color: #f7f7f9;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--h2-color);
  line-height: 52px;
  margin: auto 24px 12px 12px;
  padding-top: 114px;
}

.flex-item6 button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 18px;
}

.about-btn {
  margin-left: 20px;
}

.btn-resume {
  font-size: 15px;
  font-weight: 400;
}

.fdion {
  margin-top: 60px;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
}

.accordion li {
  list-style: none;
}

.skill--description {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.skill--description-link {
  text-decoration: none;
  margin-left: 36px;
}

.skill {
  display: flex;
  align-items: center;
  margin: 36px 36px 12px 36px;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
}

.skill-image {
  margin: 9px 12px 9.72px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.skill-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.chevron-icons {
  cursor: pointer;
  margin-right: 64px;
}

.frameworks-container,
.skills-container {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
