@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --logo-color: #6070ff;
  --menu-icon-color: #6070ff;
  --h1-color: #172b4d;
  --span-color: #7f8cff;
  --paragraph-color: #344563;
  --font-family: "Poppins", sans-serif;
  --li-color: ##c1c7d0;
  --h3-color: #172b4d;
  --h2-color: #172b4d;
  --btn-bg-color: #ebebff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

.desk-item,
.desk-item1,
.flex-item2-desk,
.technology-desk,
.lang-container {
  display: none;
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  background-color: white;
}

/* .menu {
  display: block;
} */

a {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
}

.headline-section {
  background-image: url(images/header-shape.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  display: flex;
  height: 620px;
  flex-direction: column;
  padding: 20px 20px;
  border-bottom-left-radius: 25% 50px;
  margin-bottom: 100px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 70px;
}

.paragraph {
  padding: 20px;
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--font-family);
}

.media_icons {
  margin: 26px 35px 26px 21px;
  margin-top: 10px;
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
}

.connect {
  padding-left: 20px;
  color: var(--span-color);
  margin-top: 20px;
}

.media-icons:hover,
.menu:hover,
.logo:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  max-width: 375px;
  margin: 0 auto;
  background-color: #f7f7f9;
  justify-items: center;
  padding-bottom: 114px;
}

.image-fluid {
  max-width: 295px;
  object-fit: cover;
}

.card-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 88px;
  background-color: #fff;
}

.p-title {
  display: flex;
  flex-direction: column;
  margin: 12px 5px;
}

.title {
  color: var(--h3-color);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 44px;
}

.text {
  margin-top: 10px;
}

.multi-post {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.flex-items {
  display: flex;
  margin-top: 10px;
}

.canopy {
  list-style: none;
  color: #344563 !important;
}

.text_paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 270px;
}

.list-item {
  margin-right: 25px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.btn-container-flex {
  display: flex;
  margin-top: 5px;
}

.btn {
  list-style: none;
}

.btn-sm {
  background-color: #ebebff;
  width: 53px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #b7bcff;
  padding: 4px 12px 4px 12px;
  transition: 0.2s;
}

.btn-md {
  background-color: #ebebff;
  width: 45px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #b7bcff;
  padding: 4px 12px;
  transition: 0.2s;
}

.btn-lg {
  background-color: #ebebff;
  width: 70px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #b7bcff;
  transition: 0.2s;
}

.btn-container {
  margin-top: 10px;
}

.btn-xxl {
  width: 124px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.2s;
}

.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-xxl:hover {
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 0 16px rgba(64, 83, 252, 0.24);
  transform: translateY(4px);
  color: #fff;
}

.btn-sm:active,
.btn-md:active,
.btn-lg:active,
.btn-xxl:active {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

/* about section starts here */

.about {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("images/Base.png");
  background-repeat: no-repeat;
  border-top-right-radius: 0% 25px;
  background-color: #f7f7f9;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--h2-color);
  line-height: 52px;
  margin: auto 24px 12px 12px;
  padding-top: 114px;
}

.flex-item6 button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 18px;
}

.about-btn {
  margin-left: 20px;
}

.btn-resume {
  font-size: 15px;
  font-weight: 400;
}

.accordion {
  margin-top: 60px;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
}

.accordion li {
  list-style: none;
}

.skill--description {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.skill--description-link {
  text-decoration: none;
  margin-left: 36px;
}

.skill {
  display: flex;
  align-items: center;
  margin: 36px 36px 12px 36px;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
}

.skill-image {
  margin: 9px 12px 9.72px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.skill-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.chevron-icons {
  cursor: pointer;
  margin-right: 64px;
}

.frameworks-container,
.skills-container {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  width: 327px;
  height: 1px;
  background-color: #dfe1e6;
  margin: 0 auto;
}

.framework--title-link,
.skills--title-link {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  color: black;
  margin: 36px 36px;
}

.contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 779px;
  background: #6070ff url(images/contact\ form\ shapes-mobile@2x.png) 100% -20px no-repeat;
  background-size: contain;
  border-top-left-radius: 100px;
  margin-top: 100px;
  padding-top: 5px;
}

.inner-div {
  padding-top: 100px;
  margin-left: 24px;
  margin-right: 24px;
}

.inner-div h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  padding-bottom: 0;
  margin-top: 10px;
}

.inner-div p {
  display: flex;
  align-items: center;
  left: 24px;
  top: 4802px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 10px;
}

.form {
  padding-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -25px;
}

ul.inner-list {
  list-style-type: none;
}

li input {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  color: #000;
  margin-top: 18px;
}

li textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  border-radius: 8px;
  width: 100%;
  height: 150px;
  padding-left: 10px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 18px;
}

.shape {
  padding-right: 25%;
  padding-left: 30%;
  margin-top: 45px;
}

button:hover {
  background: #8f9afc;
  color: white;
}

button:active {
  background: #0416b6;
  color: white;
}
